
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/result/
/cookies/
/.idea/
package-lock.json
package.json
proxies.txt
###< symfony/framework-bundle ###
